.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: #063970;
}
.bg-1 {
    background-color: rgb(129, 169, 255);
}
.bg-2 {
    background-color: rgb(199, 118, 252);
}
.bg-3 {
    background-color: rgb(252, 118, 118);
}
.bg-4 {
    background-color: rgb(169, 252, 118);
}
.ViewDetail{
    font-size: small;
    color:  #1976d2;
}
/* .card {
    width: 24%;
} */